doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // PAGE settings
    link(rel='icon', href='https://templates.pingendo.com/assets/Pingendo_favicon.ico')
    title Help Pages
    meta(name='description')
    meta(name='keywords')
    // CSS dependencies
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    // Script: Animated entrance
    script(src='/js/animate-in.js')
    link(rel='stylesheet', href='/programofstudy.css')
  body.text-center
    // Navbar
    // Cover
    // Parallax section
    // Speakers
    // Schedule
    // Sponsor logos
    // Call to action
    // Footer
    // JavaScript dependencies
    .py-5.section-aquamarine(style='	background-image: url(/assets/programofstudybackground.jpg);	background-position: left top;	background-size: 70%;	background-repeat: repeat;')
      .container
        .row
          .col-md-12
            h1.display-6.shadow-lg.text-center.text-white Help Pages
            h5 The Add Student
    nav.navbar.navbar-expand-lg.navbar-dark.bg-info
      .container
        button.navbar-toggler.navbar-toggler-right.border-0.p-0(type='button', data-toggle='collapse', data-target='#navbar12')
          p.navbar-brand.mb-0.text-white
            i.fa.d-inline.fa-lg.fa-bars
            |  MENU
        #navbar12.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/houme/admin')
                i.fa.fa-home.fa-fw
                | ETM
          ul.navbar-nav.mx-auto
            li.nav-item
              a.nav-link(href='/addstudent/admin')
                i.fa.fa-book.fa-fw
                | Add Student
          ul.navbar-nav
            li.nav-item
              a.nav-link.text-primary(href='/') 
                i.fa.fa-power-off.fa-fw
                | Logout
    .py-5
      .container
        .row
          .col-md-12
            h1 DARS Uploading
            h5 This feature allows you to choose PDF's of DARS reports. Then once they are uploaded to the system it will strip them of their data and push the results into the database. Then the results will be available for viewing. Students data is connected to the Advisors Ohio email that is displayed on their DARS report.
        .row
          .col-md-6(style='padding-top: 2%;')
            img(src='/assets/addstudent/browse.png', alt='Picture Not Found', width='50%', height='%')
          .col-md-6(style='padding-top: 0%;')
            h1 Browse for DARS PDF's
            h5 This button will allow you to view files on your computer and you may upload PDF's of students DARS reports. PDFs are the only allow file types and they must be DARS reports.
        .row
          .col-md-6(style='padding-top: 10%;')
            img(src='/assets/addstudent/upload.png', alt='Picture Not Found', width='50%', height='50%')
          .col-md-6(style='padding-top: 1%;')
            h1 Upload
            h5 Once you have chosen all the files you wish to upload to the system you may then go ahead and click upload. This will upload your PDF's to the system and run our DARS parsing system on them and push all findings into the database. It will match students data to the Advisor Email on the DARS report presented to the system.

footer.text-md-left.text-center.p-4.bg-dark.text-light
  .container
    .row
      .col-lg-12  
    .row
      .col-md-12
        p.text-muted.text-center
          br
          br
          | © Copyright 2019 WillCodeForFood - All rights reserved.
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    // Script: Smooth scrolling between anchors in the same page
